body{
  height: 98vh;
  width: 98vw;
  display: flex;
  background-color: lightblue;
}

td, tr{
  margin: 0;
  padding: 0;
}

main{
  margin: auto;
}

.ligneBtn>button{
  margin: 0.5em;
}

.case{
  height: 2em;
  width: 2em;
  color: black;
  text-align: center;
  margin: 2px;
}

#plateau{
  padding: 1em;
  background-color: lightgrey;
  border-collapse: separate;
}

.base{
  background-color: grey
}

.drapeau{
  background-color: lightblue
}

.bombe{
  background-color: lightcoral
}

.desac{
  background-color: white
}

#modalFin{
  width: 20em;
}
#modalFin footer{
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.8em;
}

.listeRecord>div{
  display: flex;
  justify-content: space-around;
}
